* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


.header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 160px;
}



.menu {
    display: flex;
    gap: 20px;

}

.menu a {
    font-weight: 300;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.menu img {
    width: 20px;
}


.info {
    padding-top: 13px;
    padding-left: 60px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    gap: 30px;
    margin-top: 25px;
    width: 855px;
    margin-left: 160px;
    height: 85px;
    border-radius: 15px;
    background-color: rgb(223, 217, 217)
}

.info_1 {
    width: 300px;
    height: 40px;
}

.info_1 h1 {
    font-weight: 400;
    font-size: 15px;
}

.info_1 a {
    font-size: 12px;
    text-decoration: none;
}

.iphone {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}



.iphone_left h1 {
    font-size: 17px;
    color: rgb(180, 117, 0);
    font-weight: 300;
}

.iphone_left h2 {
    font-size: 25px;
    padding-top: 10px;
}

.iphone_left p {
    font-size: 14px;
    padding-top: 10px;
}

#asp1 p {
    font-size: 8px;
}

#asp2 p {
    font-size: 10px;
}

.iphone_right {
    text-align: end;
}

.iphone_right button {
    margin: 5px;
}

#asp1 {
    width: 150px;
    border-radius: 15px;
    height: 28px;
    border: none;
    background-color: rgb(217, 217, 217);
}

#asp2 {
    width: 220px;
    border-radius: 15px;
    height: 28px;
    border: none;
    background-color: rgb(217, 217, 217);
}

.model_text {
    padding-bottom: 20px;
}


.model_text h1 {
    font-size: 22px;
    padding-bottom: 10px;
}

.model_text h1 span {
    font-size: 22px;
    color: gray;
}

.models {
    padding-top: 100px;
}


.uzuk1 {
    padding: 20px;
    width: 350px;
    border-radius: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uzuk2 {
    padding: 20px;
    width: 350px;
    border-radius: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.uzuk3 {
    padding: 20px;
    width: 350px;
    border-radius: 20px;
    height: 100px;
    background-color: rgb(217, 217, 217);
    border: none;
}

.uzuk3 .text1 h4 {
    font-size: 17px;
    padding-bottom: 3px;
}

.tilofurosh {
    display: grid;
    flex-direction: column;
    gap: 0px;
}

.text1 h4 {
    font-size: 20px;
}

.color_text {
    text-align: center;
}

.color_text2 {
    padding-left: 45px;
    padding-top: 50px;
    text-align: left;
}

.color_text h5 {
    font-size: 22px;
}

.color_text h5 span {
    font-size: 22px;
    color: gray;
}

.nosfurosh {
    padding-top: 80px;
}

.btns button {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.Natural_Titanium {
    background-color: #797982;
}

.Blue_Titanium {
    background-color: #5B798E;
}

.White_Titanium {
    background-color: #FCFFF0;
}

.Black_Titanium {
    background-color: #171718;
}

.aziza_iphonchi {
    padding-top: 90px;
    position: sticky;
    top: 30px;
    border-radius: 25px;
}

.natural {
    background-image: url(./img/natural.jpg);
    height: 500px;
    width: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.white {
    background-image: url(./img/white.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 700px;

}

.black {
    background-image: url(./img/black.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 700px;
}

.blue {
    background-image: url(./img/blue.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 700px;
}

.aziza_images {
    background-image: url(./img/glavniycha.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 700px;

}

.mac_text h1 {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 30px;
    padding-bottom: 0px;
}

.mac_text p {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 30px;
}

.max_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mac_right h2 {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mac_right h3 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 48px;
}

.mac_right p {
    color: #0071E3;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.box_btn {
    padding-top: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    padding-bottom: 39px;
}

.box_btn button {
    width: 155px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #0071E3;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.btns_mac {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 11px;
    padding-bottom: 39px;
    flex-direction: column;

}

.btns_mac button {
    width: 321px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #CFE7FF;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.btns_mac button p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.mac_img {
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-image: url('./img/mbp14-silver-select-202110\ 1.png');
    background-size: contain;
    background-position: center;
    border: none;
    transition: 3s ease;
}

.pamit_text h1 {
    font-size: 22px;
    padding-bottom: 10px;
}

.pamit_text h1 span {
    font-size: 22px;
    color: gray;
}

.pamit {
    padding-top: 100px;
}

.pamit_buttons {
    display: flex;
    flex-direction: column;
    gap: 0px;

}

.pamit_buttons button {
    padding: 20px;
    width: 350px;
    border-radius: 20px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.pamit_buttons button .txt {
    width: 140px;
}

.bg_model {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
}

.dialog {
    width: 900px;
    height: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
}

.close {
    background-color: white;
    border: none;
}

.close img {
    width: 50px;
    height: 30px;
}

.dialog_text {
    text-align: center;
}

.dialog_text h1 {
    font-size: 40px;
    text-align: center;
}

.dialog_text p {
    padding-top: 15px;
    font-size: 20px;
    text-align: center;
}

.dialog_text a {
    padding-top: 10px;
    font-size: 20px;
    text-decoration: none;
}

.dialog_btn {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.dialog_btn button {
    width: 140px;
    height: 40px;
    border-radius: 25px;
    background-color: white;
    border: none;
}

.text-field {
    margin-top: 60px;
    margin-left: 120px;
    padding: 10px;
    width: 600px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 15px;
    margin-bottom: 70px;

}

.text-field p {
    font-size: 15px;
    color: #a6a7a9;
}

.text-field p span {
    font-size: 18px;
    color: #000;
}

#dialog-h1 {
    text-align: center;
}

.dialog-proMax {
    height: 100px;
    width: 900px;
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 0px, 15px;
}

.open-proMax img {
    width: 50px;
    height: 40px;
}

.open-proMax {
    background-color: #dcdcdc;
    border: none;
}

.kot {
    width: 900px;
    height: fit-content;
    padding: 20px;
    background-color: #dcdcdc;
    display: flex;
    justify-content: space-between;
}

.window_diolog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    background-color: #dcdcdc;
    padding: 20px;
    display: none;
}

.left1 {
    padding-bottom: 200px;

}

.proMax_txt {
    display: flex;
    justify-content: space-between;
}

.window_text{
    display: flex;
}
.right1{
    padding-left: 250px;
}

.right1 h1{
    padding-bottom: 10px;
}
.right1 p{
    padding-bottom: 10px;
    padding-top: 10px;
}
